
.pueblo-details {
  max-width: 900px;
  margin: 0 auto;
  padding: 24px;
}

.pueblo-details img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

.pueblo-info {
  font-size: 1.1rem;
  margin-bottom: 12px;
  color: #333;
}

.pueblos-loading {
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center;     /* Centrado vertical */
  height: 200px;  
}