.eventos-container {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

.eventos-title {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  /* color: #333; */
  /* Sombra ligera para destacar sobre el fondo */
  text-shadow: 10px 10px 10px rgba(0,0,0,0.15);
}
.eventos-title::after {
  content: "";
  display: block;
  width: 100px;                 /* longitud de la línea */
  height: 4px;                 /* grosor */
  background-color: var(--color-primary); /* terracota */
  margin: 8px auto 0 auto;     /* centrado */
  border-radius: 2px;
}
.eventos-loading {
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center;     /* Centrado vertical */
  height: 200px;  
}
