.evento-details {
  max-width: 900px;
  margin: 0 auto;
  padding: 24px;
}

.evento-img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

.evento-info {
  font-size: 1.1rem;
  margin-bottom: 12px;
  color: #333;
}

.evento-pueblo-info {
  margin: 10px 0;
  padding: 10px;
  background: #f3f3f3;
  border-radius: 8px;
}

.evento-map-container {
  margin-top: 25px;
}

.eventos-loading {
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center;     /* Centrado vertical */
  height: 200px;  
}
.evento-details-container {
  display: flex;
  flex-direction: row; /* fila: texto a la izquierda, imagen a la derecha */
  gap: 20px;
  align-items: flex-start;
}
.evento-text {
  flex: 1; /* ocupa todo el espacio disponible */
}

.evento-img-container {
  flex: 0 0 300px; /* ancho fijo de la imagen */
}

.evento-img-container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}
.evento-actions {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.evento-actions button {
  padding: 8px 12px;
  border: none;
  background-color: #8C6A43;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.evento-actions button:hover {
  background-color: #6b4f33;
}
